<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.url">jdbc:mysql://172.16.1.10:3306/zhoil_flight</property>
    <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
      <mapping class="com.example.contrast_entity.entity.TFlightChangeLog"/>
      <mapping class="com.example.contrast_entity.entity.TTask"/>
      <mapping class="com.example.contrast_entity.entity.TFlight"/>
      <!-- <property name="connection.username"/> -->
    <!-- <property name="connection.password"/> -->

    <!-- DB schema will be updated if needed -->
    <!-- <property name="hbm2ddl.auto">update</property> -->
  </session-factory>
</hibernate-configuration>