<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zh.dao.mapper.my.MyTRoleUserMapper">
  <resultMap id="BaseResultMap" type="com.zh.bean.auto.TRoleUser">
    <id column="userId" jdbcType="VARCHAR" property="userid" />
    <id column="roleId" jdbcType="INTEGER" property="roleid" />
  </resultMap>
  <select id="selectAllManager" resultMap="BaseResultMap">
    select userId, roleId
    from t_role_user
    where roleId='0'
  </select>
</mapper>