<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zh.dao.mapper.SysLogMapper">

    <!-- 删除日志 -->
    <delete id="deleteLog">
        DELETE
        FROM sys_log
        where create_date &lt;= #{createDate}
    </delete>

    <!-- 删除日志 -->
    <delete id="deleteSysRequestLog">
        DELETE
        FROM sys_request_log
        where create_date &lt;= #{createDate}
    </delete>


</mapper>