<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zh.dao.mapper.my.TFlightTroubleMapper">
  <resultMap id="BaseResultMap" type="com.zh.bean.flight.TFlightTrouble">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="flgt_regn" jdbcType="VARCHAR" property="flgtRegn" />
    <result column="msg" jdbcType="VARCHAR" property="msg" />
    <result column="flgt_time" jdbcType="TIMESTAMP" property="flgtTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, flgt_regn, msg, flgt_time
  </sql>
  <select id="selectAll" parameterType="com.zh.bean.flight.TFlightTrouble" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from t_flight_trouble
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_flight_trouble
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from t_flight_trouble
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.zh.bean.flight.TFlightTrouble">
    insert into t_flight_trouble (id, flgt_regn, msg, 
      flgt_time)
    values (#{id,jdbcType=VARCHAR}, #{flgtRegn,jdbcType=VARCHAR}, #{msg,jdbcType=VARCHAR}, 
      #{flgtTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.zh.bean.flight.TFlightTrouble" >
    insert into t_flight_trouble
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="flgtRegn != null">
        flgt_regn,
      </if>
      <if test="msg != null">
        msg,
      </if>
      <if test="flgtTime != null">
        flgt_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="flgtRegn != null">
        #{flgtRegn,jdbcType=VARCHAR},
      </if>
      <if test="msg != null">
        #{msg,jdbcType=VARCHAR},
      </if>
      <if test="flgtTime != null">
        #{flgtTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zh.bean.flight.TFlightTrouble">
    update t_flight_trouble
    <set>
      <if test="flgtRegn != null">
        flgt_regn = #{flgtRegn,jdbcType=VARCHAR},
      </if>
      <if test="msg != null">
        msg = #{msg,jdbcType=VARCHAR},
      </if>
      <if test="flgtTime != null">
        flgt_time = #{flgtTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zh.bean.flight.TFlightTrouble">
    update t_flight_trouble
    set flgt_regn = #{flgtRegn,jdbcType=VARCHAR},
      msg = #{msg,jdbcType=VARCHAR},
      flgt_time = #{flgtTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>

  <select id="selectByRegn" parameterType="com.zh.bean.flight.TFlightTrouble" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from t_flight_trouble where flgt_regn = #{flgtRegn}
  </select>

</mapper>