<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zh.dao.mapper.my.TPlacecodeTypeMapper">
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from T_PLACECODE_TYPE
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <select id="getPlacecodeType" resultType="com.zh.bean.flight.TPlacecodeType">
    select id as id,name as name,font_color as fontColor from T_PLACECODE_TYPE
  </select>
  <select id="getPlacecodeTypeOne" resultType="com.zh.bean.flight.TPlacecodeType">
    select id as id,name as name,font_color as fontColor from T_PLACECODE_TYPE
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <insert id="insert" parameterType="com.zh.bean.flight.TPlacecodeType">
    insert into T_PLACECODE_TYPE (id, name,font_color)
    values (#{id,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR} ,#{fontColor,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zh.bean.flight.TPlacecodeType">
    insert into T_PLACECODE_TYPE
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="fontColor != null">
        font_color,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="fontColor != null">
        #{fontColor,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zh.bean.flight.TPlacecodeType">
    update T_PLACECODE_TYPE
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="fontColor != null">
        font_color = #{fontColor,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zh.bean.flight.TPlacecodeType">
    update T_PLACECODE_TYPE
    set name = #{name,jdbcType=VARCHAR},font_color = #{fontColor,jdbcType=VARCHAR}
      where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>